
*{
    font-family: 'poppins';
}

html{
    font-size: 14px;
}
/* proper */
body{
    background-image: url("../images/Background/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    overflow: hidden;
}
.form-container{
    background-color: rgba(255, 255, 255, 0.87);
    margin: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    max-width: 900px;
    }

.parent-logos-cntr{
    background-color: #fff;

}
.companies-logo-container{
    border-radius: 5px;
    max-width: 300px;
}


/* removing number input arrows */
 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 
 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield;
 }

/* noised */
.crimson-txt{
    font-weight: 600;
}

.headings-div{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
}

h1{
    font-weight: 600;
}
.card-img{
    max-width: 3rem;
}

.time-card {
    padding-top: 0.7rem;
}

.blueline{

    height: 5px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: #136EFA;
    border-radius: 5px;
}

.card{
    cursor: pointer;
}

.card:hover{
    filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.5));
}

.selected-card{
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px #136EFA;
    border: 1px solid #136EFA;
}

.un-selected-card{
    border: none;
    box-shadow: none;
}

.btn{
    background-color: #136EFA;
    color: #fff;
    filter: drop-shadow(2px 3px 3px #136EFA);
}


.btn:hover{
    background-color: #fff;
    color: #136EFA;
    filter: drop-shadow(1px 2px 2px #136EFA);
}


#zip-code--input{
    text-align: center;
    border: 2px solid #b3b3b3;
    filter: none !important;
}

.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
 }


.review-container{
    max-width: 300px;
}

.news-logo{
    height: 30px;
    padding: 2px;
    margin: 3px;
}

.companies-txt{
    margin-top:4.5%;
}
.checked{
    color: orange;
}

@media screen and (min-width: 990px) {
    .card-txt-div {
        min-width: 5rem;
    } 
    .scr-3-card{
        min-height: 120px;
    }
    .roof-sizing {
        min-height:115px;
    }

}  

@media screen and (min-width: 1240px) {
    .card-txt-div {
        min-width: 5rem;
    } 
    .scr-3-card{
        min-height: 120px;
    }
    .roof-sizing {
        min-height:120px;
    }


}  

@media screen and (max-width: 990px) {
    .card-txt-div {
        max-height: 70px;
        font-size: 12px;
    } 
    html{
        font-size: 12px;
    }

}  

.name-head{
    font-weight: 600;
}

.date-div{
    font-size: 0.7rem;
}

#pricing{
    font-size: 0.7rem;
    margin: -0.4rem;
}

.completion-bar{
    height: 20px;
    display: none;
}

.percent-complete{
    background-color: #136EFA;
    height: 100%;
}
.card-txt-div{
    margin-bottom: 2%;
}
.materials{
    font-size: 12px;
}
.material-img-div{
    background-color: #136EFA;
    height: 100%;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
} 

#form-2,
#form-3,
#form-4,
#form-5,
#form-6,
#form-7,
#form-8,
#form-9,
#form-10,
#form-11,
#form-12,
#form-13,
#form-14,
#form-15{

    display: none;
}


.timeline {
    margin-left: 5%;
    font-size: 10px;
    width:80%;
    height: 13px;
    list-style: none;
    text-align: justify;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%,#c3dbff 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #c3dbff;
    text-align: center;
    line-height: 1.2;
    position: relative;
    border-radius: 50%;
}


.timeline li.current-milestone{
    background: #136EFA;
}
.timeline li:before {
    display: inline-block;
    content: attr(data-year);
    font-size: 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.timeline li:before {
    bottom: -40px;
}

.timeline li:after {
    display: inline-block;
    content: attr(data-text);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btn-display{
    background-color: green;
    border-color: green;
    filter: drop-shadow(2px 3px 3px green);
}

input,.input-style {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
  }

  .txt-background-1{
    background-color: #52586531;
    border-radius: 5px;
    min-height: 2rem;
    margin: 5px;
  }

  .txt-underline{
    text-decoration: underline;
  }
  .txt-background-2{
    background-color: #82f8537e;
    border-radius: 5px;
    padding-top: 5px;
    min-height: 2rem;
    margin: 5px;

}